<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>32024688569-hpvt8i66u39637o2obi5q5sutphctl55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32024688569-hpvt8i66u39637o2obi5q5sutphctl55</string>
	<key>API_KEY</key>
	<string>AIzaSyCZHzYZRbyiwHjW6ukvuFxacUViPTpZ5iE</string>
	<key>GCM_SENDER_ID</key>
	<string>32024688569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MediumOne.IOTIO</string>
	<key>PROJECT_ID</key>
	<string>iot-controller-4dabe</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-controller-4dabe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:32024688569:ios:d022a9f24f1202d1</string>
	<key>DATABASE_URL</key>
	<string>https://iot-controller-4dabe.firebaseio.com</string>
</dict>
</plist>